* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: white;
}
:root {
    --primary-color: red;
    --primary-width: 350px;
    --primary-border-radius: 20px;
}
.top, .bottom {
    height: 50vh;
    width: 100%;
}
.top {
    background: var(--primary-color);
}
.bottom {
    background: white;
}

.container {
    width: 100vw;
    height: 100vw;
}
.inner-container {
    width: 800px;
    height: 500px;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.image-container {
    background: whitesmoke;
    height: 100%;
    width: var(--primary-width);
    display: grid;
    place-items: center;
    border-radius: var(--primary-border-radius);
}
.image-container:hover > .image {
    rotate: 45deg;
}
.image {
    width: 350px;
}

/* description */
.description {
    width: var(--primary-width);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: var(--primary-color);
    border-radius: var(--primary-border-radius);
    /* display: none; */
}
.description-text {
    color: darkgray;
}
/* sizes */
.sizes {
    display: flex;
    justify-content: space-around;
}
.size {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}
.size:hover {
    background: whitesmoke;
    color: var(--primary-color);
}

.buy {
    display: flex;
    justify-content: space-between;
}
.buy-button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;

}