@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bakbak+One&family=Playfair+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

:root {
    --primary-color: red;
    --primary-width: 350px;
    --primary-border-radius: 20px;
}

.top, .bottom {
    height: 50vh;
    width: 100%;
}

.top {
    background: var(--primary-color);
}

.bottom {
    background: white;
}

.container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.inner-container {
    width: 800px;
    height: 500px;
    display: flex;
    position: absolute;
    top: 20%;
    transform: translateY(-70%);
    left: 50%;
    transform: translateX(-20%);
}

.image-container {
    background: whitesmoke;
    height: 100%;
    width: var(--primary-width);
    display: grid;
    place-items: center;
    border-radius: var(--primary-border-radius);
}

.inner-container:hover {
    transform: translateX(-40%);
}

.inner-container:hover  .image {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.image {
    width: 350px;
}

.image-container:hover + .description {
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
}

/* description */
.description {
    width: var(--primary-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: var(--primary-color);
    border-radius: var(--primary-border-radius);
    position: absolute;
    z-index: -1;
}

.description:hover {
    left: 350px;
}

.description-text {
    color: darkgray;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

/* sizes */
.sizes {
    display: flex;
    justify-content: space-around;
}

.size {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}

.size:hover {
    background: whitesmoke;
    color: var(--primary-color);
}

.buy {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 30px;
}

.buy-button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.buy-button:hover {
    background-color: rgb(243, 68, 68);
}

.heading {
    font-family: 'Bakbak One', cursive;
}

.price {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Abril Fatface', cursive;
}

.price-cents {
    font-size: 0.9rem;
}

@keyframes move {
    from {left: 0;}
    to {left: 350px}
}

@keyframes rotate {
    from {rotate: 0deg}
    to {rotate: 45deg}
}

@keyframes moveDown {
    from {top: 0px;}
    to {top: 500px;}    
}


@media (max-width: 450px) {
    .inner-container {
        top: 0;
        transform: translateX(-20%);
        flex-direction: column;
    }

    .inner-container:hover {
        transform: translateX(-20%);
    }

    .description:hover {
        left: 0;
        top: 500px;
    }
    
    .image-container:hover + .description {
        animation-name: moveDown;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; 
    }
}